set nocompatible
filetype off

" set runtime path for Vundle
set rtp+=~/.vim/bundle/Vundle.vim/
call vundle#begin()

" Let Vundle manage Vundle
Plugin 'gmarik/Vundle.vim'

{% for item in vundle %}
Bundle "{{ item }}"
{% endfor %}

call vundle#end()

{% for item in set %}
set {{ item }}
{% endfor %}
